#root{
    overflow: hidden;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Taviraj', serif;
}

.container{
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.ant-layout-header {
    background: none;
    padding: 0;
    height: auto;
    line-height: 1.6;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

.header .logo{
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
}

/* .header .logo a{
    color: ;
} */

.header nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

.header nav li{
    margin: 0 0 0 20px;
}

.header .login{
    display: flex;
    gap:10px
    
}

.NavLink{
    color: "black";
}

.header nav a:hover,
.header nav a.active,
.ant-drawer nav a.active {
  color: #27c4ff;
}